/* To remove the default magin and padding from the page */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* To remove the deault style and margin from ul element */
nav ul {
    list-style: none;
    margin: 0;
}
/* To remove default margin from p element */
p {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    background-color: #1f2937;
}

.link {
    display: flex;
    padding-right: 50px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 50px;
}

.link-list {
    padding-left: 20px;
}
.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.hero-text {
    word-wrap: break-word;
}

.link-list, .hero-second-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.btn {
    background-color: #3882f6;
    padding: 10px 25px;
    border-radius: 8px;
    margin-top: 10px;
    color: whitesmoke;
    border-width: 0px;
}

.random-header {
    text-align: center;
    font-weight: 900;
    font-size: 36px;
    color: #1f2937;
}

.random-info {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    gap: 45px;
    margin-bottom: 60px;
}

.features {
    flex: 1;
}

.features  p {
    text-align: center;
}

.feature-box {
    width: 100%;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.testimonial p {
    background-color: #e7e5eb;
    padding: 60px 50px;
    text-align: center;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
}

.testimonial span {
    font-weight: bold;
    float: right;
    font-size: 26px;
    padding-top: 8px;
}

.call-action {
    display: flex;
    justify-content: space-between;
    margin: 70px 50px;
    background-color: #3882f6;
    padding: 20px 40px;
    border-radius: 5px;
}

.call p {
    color: whitesmoke;
}

.call-action-p {
    font-weight: 900;
}

.call-action .btn {
    border-radius: 5px;
    border: 2px solid;
    color: white;
}

footer p {
    padding: 30px;
    text-align: center;
    color: white;
}