/* To remove the default magin and padding from the page */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* To remove the deault style and margin from ul element */
nav ul {
    list-style: none;
    margin: 0;
}
/* To remove default margin from p element */
p {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #1f2937;
}

.link {
    display: flex;
    padding-right: 50px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 50px;
}

.link-list {
    padding-left: 20px;
}
.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.hero-text {
    word-wrap: break-word;
}

.link-list, .hero-second-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.btn {
    background-color: #3882f6;
    padding: 10px 25px;
    border-radius: 8px;
    margin-top: 10px;
    color: whitesmoke;
    border-width: 0px;
}

.random-info {
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    gap: 5px;
}
.features {
    flex: 1;
}

.feature-box {
    width: 50px;
    /* height: 60px; */
    border: 2px solid #3882f6;
}